<div class="footer inner">
  <span>
    &copy; {{ site.time | date: '%Y' }} {{ site.copyright }}.
    <!-- <br>
    Published with <a href="https://pages.github.com">GitHub Pages</a> -->
    <div class="social-buttons">

      <a href="http://www.twitter.com/crossveins" target="_blank">
        <!-- <img alt="Twitter icon" src="assets\images\twitter.png"> -->
        <img alt="Twitter icon" src="assets\images\icon-twitter.svg" onerror="this.src='assets\images\icon-twitter.png'">
      </a>

      <a href="https://www.researchgate.net/profile/William_Kuhn" target="_blank">
        <img alt="Research Gate icon" src="assets\images\icon-researchgate.svg" onerror="this.src='assets\images\icon-researchgate.png'">
      </a>

      <a href="http://www.linkedin.com/in/crossveins" target="_blank">
        <img alt="LinkedIn icon" src="assets\images\icon-linkedin.svg" onerror="this.src='assets\images\icon-linkedin.png'">
      </a>

      <a href="https://scholar.google.com/citations?user=zQARkFYAAAAJ" target="_blank">
        <img alt="Google Scholar icon" src="assets\images\icon-scholar.svg" onerror="this.src='assets\images\icon-scholar.png'">
      </a>

      <a href="http://orcid.org/0000-0002-5506-6379" target="_blank">
        <img alt="orcidID icon" src="assets\images\icon-orchidid.svg" onerror="this.src='assets\images\icon-orchidid.png'">
      </a>

      <a href="https://utk.academia.edu/WilliamKuhn" target="_blank">
        <img alt="Academia icon" src="assets\images\icon-academia.svg" onerror="this.src='assets\images\icon-academia.png'">
      </a>

      <a href="https://github.com/willkuhn" target="_blank">
        <img alt="GitHub icon" src="assets\images\icon-github.svg" onerror="this.src='assets\images\icon-github.png'">
      </a>

    </div>
  </span>

</div>
