---
---

@import "{{ site.theme }}";

// Project title & tagline
#project_title, #project_tagline{
  color: #C6D9C9; // pastel gray
}
// Nix shadow & border from logo
img#logo {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0px;
    // padding: 0px;
    // max-width: 640px;
}

// Text color
h2, p, td {
  color: #181916; // eerie black
}
strong {
  color: #181916; // eerie black // #D5AD40; // maximum yellow green
}
h3 {
  color: #5B974F; // middle green
}

// Links color
a, a:hover {
  color: #5B974F; // middle green
}
a:visited {
  color: #3A6133; // mughal green
}

// Style menu
table.menu {
    border: 0px;
    text-align:  center;
    width: 100%;
}
table.menu td {
    border: 0px;
}

// Style back-to-top arrows next to section headers
h2 img {
    width: 25px;
    vertical-align: bottom;
    float: right;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

// Style publications & grants tables
table.pubs-list{
    border: 0px;
    width: 100%;
}
table.pubs-list td {
    border: 0px;
}
// 1st column (year in publications & grants lists)
table.pubs-list td:first-child {
    font-weight: bold;
}
// 3rd column (amounts in grants list)
table.pubs-list td:nth-child(3) {
    text-align: right;
    font-weight: bold;
}

// Style footer text
p.footer {
  color: #C6D9C9; // pastel gray
}
// Style social media buttons in footer
div.social-buttons img {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}
