---
layout: post-index
title: Blog
---
{% for post in site.posts %}
<article>

    <!-- POST FEATURED IMAGE -->
    <div class="featured-image">
    <img src="{{ post.featured-image}}" style="width:100%">
    </div>

    <!-- POST TITLE -->
    <header>
        <h2 class="entry-title">
            <a href="{{ site.url | relative_url }}{{ post.url | relative_url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a>
        </h2>
        <h3 class="entry-subtitle">
          {{ post.subtitle }}
        </h3>
    </header>

    <!--- DIVIDING LINE -->
    <hr>

    <!-- POST TAGS -->
    <div class="inline-tags">
        <span>
        {% for tag in post.tags %}
            <a href="/tags/#{{tag}}">#{{ tag }}</a>&nbsp;
        {% endfor %}
        </span>
    </div>

    <!-- POST DATE -->
    <div class="post-date">
        <span class="entry-date date published updated">
            <time datetime="{{ post.date | date_to_xmlschema }}">
                {{ post.date | date: "%-d %B %Y" }}
            </time>
        </span>
    </div>

</article>
{% endfor %}
